<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.TooManyJobsButNoView</string>
  </disabledAdministrativeMonitors>
  <version>2.121.1</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>0</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:chavafg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:kata-containers*jenkins-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:chavafg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:kata-containers*jenkins-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:chavafg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:kata-containers*jenkins-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:chavafg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:kata-containers*jenkins-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:chavafg</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Build:chavafg</permission>
    <permission>hudson.model.Computer.Build:kata-containers</permission>
    <permission>hudson.model.Computer.Build:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Build:kata-containers*runtime</permission>
    <permission>hudson.model.Computer.Build:kata-containers*tests</permission>
    <permission>hudson.model.Computer.Configure:chavafg</permission>
    <permission>hudson.model.Computer.Configure:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Connect:chavafg</permission>
    <permission>hudson.model.Computer.Connect:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Create:chavafg</permission>
    <permission>hudson.model.Computer.Create:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Delete:chavafg</permission>
    <permission>hudson.model.Computer.Delete:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Computer.Disconnect:chavafg</permission>
    <permission>hudson.model.Computer.Disconnect:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Hudson.Administer:chavafg</permission>
    <permission>hudson.model.Hudson.Administer:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:chavafg</permission>
    <permission>hudson.model.Hudson.Read:kata-containers</permission>
    <permission>hudson.model.Hudson.Read:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Hudson.Read:kata-containers*runtime</permission>
    <permission>hudson.model.Hudson.Read:kata-containers*tests</permission>
    <permission>hudson.model.Item.Build:chavafg</permission>
    <permission>hudson.model.Item.Build:kata-containers</permission>
    <permission>hudson.model.Item.Build:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Build:kata-containers*runtime</permission>
    <permission>hudson.model.Item.Build:kata-containers*tests</permission>
    <permission>hudson.model.Item.Build:katabuilder</permission>
    <permission>hudson.model.Item.Cancel:chavafg</permission>
    <permission>hudson.model.Item.Cancel:kata-containers</permission>
    <permission>hudson.model.Item.Cancel:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Cancel:kata-containers*runtime</permission>
    <permission>hudson.model.Item.Cancel:kata-containers*tests</permission>
    <permission>hudson.model.Item.Cancel:katabuilder</permission>
    <permission>hudson.model.Item.Configure:chavafg</permission>
    <permission>hudson.model.Item.Configure:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Create:chavafg</permission>
    <permission>hudson.model.Item.Create:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Delete:chavafg</permission>
    <permission>hudson.model.Item.Delete:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:authenticated</permission>
    <permission>hudson.model.Item.Discover:chavafg</permission>
    <permission>hudson.model.Item.Discover:kata-containers</permission>
    <permission>hudson.model.Item.Discover:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Discover:kata-containers*runtime</permission>
    <permission>hudson.model.Item.Discover:kata-containers*tests</permission>
    <permission>hudson.model.Item.Discover:katabuilder</permission>
    <permission>hudson.model.Item.Move:chavafg</permission>
    <permission>hudson.model.Item.Move:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:chavafg</permission>
    <permission>hudson.model.Item.Read:kata-containers</permission>
    <permission>hudson.model.Item.Read:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Read:kata-containers*runtime</permission>
    <permission>hudson.model.Item.Read:kata-containers*tests</permission>
    <permission>hudson.model.Item.Read:katabuilder</permission>
    <permission>hudson.model.Item.ViewStatus:anonymous</permission>
    <permission>hudson.model.Item.ViewStatus:authenticated</permission>
    <permission>hudson.model.Item.ViewStatus:chavafg</permission>
    <permission>hudson.model.Item.ViewStatus:kata-containers</permission>
    <permission>hudson.model.Item.ViewStatus:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.ViewStatus:kata-containers*runtime</permission>
    <permission>hudson.model.Item.ViewStatus:kata-containers*tests</permission>
    <permission>hudson.model.Item.ViewStatus:katabuilder</permission>
    <permission>hudson.model.Item.Workspace:chavafg</permission>
    <permission>hudson.model.Item.Workspace:kata-containers</permission>
    <permission>hudson.model.Item.Workspace:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Item.Workspace:kata-containers*runtime</permission>
    <permission>hudson.model.Item.Workspace:kata-containers*tests</permission>
    <permission>hudson.model.Run.Delete:chavafg</permission>
    <permission>hudson.model.Run.Delete:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Run.Replay:chavafg</permission>
    <permission>hudson.model.Run.Replay:kata-containers</permission>
    <permission>hudson.model.Run.Replay:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Run.Replay:kata-containers*runtime</permission>
    <permission>hudson.model.Run.Replay:kata-containers*tests</permission>
    <permission>hudson.model.Run.Update:chavafg</permission>
    <permission>hudson.model.Run.Update:kata-containers</permission>
    <permission>hudson.model.Run.Update:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.Run.Update:kata-containers*runtime</permission>
    <permission>hudson.model.Run.Update:kata-containers*tests</permission>
    <permission>hudson.model.View.Configure:chavafg</permission>
    <permission>hudson.model.View.Configure:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.View.Create:chavafg</permission>
    <permission>hudson.model.View.Create:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.View.Delete:chavafg</permission>
    <permission>hudson.model.View.Delete:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:authenticated</permission>
    <permission>hudson.model.View.Read:chavafg</permission>
    <permission>hudson.model.View.Read:kata-containers</permission>
    <permission>hudson.model.View.Read:kata-containers*jenkins-admin</permission>
    <permission>hudson.model.View.Read:kata-containers*runtime</permission>
    <permission>hudson.model.View.Read:kata-containers*tests</permission>
    <permission>hudson.scm.SCM.Tag:chavafg</permission>
    <permission>hudson.scm.SCM.Tag:kata-containers*jenkins-admin</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>e11e7e0dee39d432dd71</clientID>
    <clientSecret>{AQAAABAAAAAws4BQ+4Q2zDNoJV1snlnpISEGAGQPM4i3hgYOKrIQrLBHectp7UwU/C+smR+lZj6nlmsr06PRuAyibDg3z8vs3g==}</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <jenkins.plugins.openstack.compute.JCloudsCloud plugin="openstack-cloud@2.37">
      <name>vexxhost</name>
      <credentialId>kata-openstack-credentials</credentialId>
      <endPointUrl>https://auth.vexxhost.net/v3</endPointUrl>
      <ignoreSsl>false</ignoreSsl>
      <templates class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
        <c class="list">
          <jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
            <name>ubuntu-1604</name>
            <labelString>ubuntu-1604</labelString>
            <slaveOptions>
              <bootSource class="jenkins.plugins.openstack.compute.slaveopts.BootSource$Image">
                <name>kata-ubuntu-16.04-x86_64</name>
              </bootSource>
              <userDataId>bd93267e-7277-44bc-b8e0-6ed5fbdd805a</userDataId>
              <launcherFactory class="jenkins.plugins.openstack.compute.slaveopts.LauncherFactory$SSH">
                <credentialsId>41ae6468-60e0-45a5-8278-099ba98fdd63</credentialsId>
              </launcherFactory>
            </slaveOptions>
          </jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
          <jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
            <name>ubuntu-1710</name>
            <labelString>ubuntu-1710</labelString>
            <slaveOptions>
              <bootSource class="jenkins.plugins.openstack.compute.slaveopts.BootSource$Image">
                <name>kata-ubuntu-17.10-x86_64</name>
              </bootSource>
              <userDataId>bd93267e-7277-44bc-b8e0-6ed5fbdd805a</userDataId>
              <launcherFactory class="jenkins.plugins.openstack.compute.slaveopts.LauncherFactory$SSH">
                <credentialsId>41ae6468-60e0-45a5-8278-099ba98fdd63</credentialsId>
              </launcherFactory>
            </slaveOptions>
          </jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
          <jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
            <name>centos-7</name>
            <labelString>centos-7</labelString>
            <slaveOptions>
              <bootSource class="jenkins.plugins.openstack.compute.slaveopts.BootSource$Image">
                <name>kata-centos-7.5-x86_64</name>
              </bootSource>
              <userDataId>5af56ce8-e87c-4710-aae8-c2ec453b42ee</userDataId>
              <launcherFactory class="jenkins.plugins.openstack.compute.slaveopts.LauncherFactory$SSH">
                <credentialsId>1b74a8b9-6b9e-4c8c-b0e7-f2a011f97587</credentialsId>
              </launcherFactory>
            </slaveOptions>
          </jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
          <jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
            <name>fedora-27</name>
            <labelString>fedora-27</labelString>
            <slaveOptions>
              <bootSource class="jenkins.plugins.openstack.compute.slaveopts.BootSource$Image">
                <name>kata-fedora-27-x86_64</name>
              </bootSource>
              <userDataId>97d148e6-829b-4011-b5c6-39a0e959da56</userDataId>
              <launcherFactory class="jenkins.plugins.openstack.compute.slaveopts.LauncherFactory$SSH">
                <credentialsId>3bc0e03e-da0d-4310-a1c8-f97379e42bb9</credentialsId>
              </launcherFactory>
            </slaveOptions>
          </jenkins.plugins.openstack.compute.JCloudsSlaveTemplate>
        </c>
        <list reference="../c"/>
      </templates>
      <slaveOptions>
        <hardwareId>a40dc085-c197-4b5d-9c47-9ce52a4fba18</hardwareId>
        <networkId>1e72028e-5257-4f34-bea0-4ad5a9043dae</networkId>
        <keyPairName>jenkins</keyPairName>
        <fsRoot>/tmp/jenkins</fsRoot>
        <retentionTime>0</retentionTime>
      </slaveOptions>
    </jenkins.plugins.openstack.compute.JCloudsCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
