<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>hudson.diagnosis.TooManyJobsButNoView</string>
  </disabledAdministrativeMonitors>
  <version>2.107.2</version>
  <installState class="jenkins.install.InstallState$5">
    <isSetupComplete>true</isSetupComplete>
    <name>RESTART</name>
  </installState>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="org.jenkinsci.plugins.GithubAuthorizationStrategy" plugin="github-oauth@0.29">
    <rootACL>
      <organizationNameList class="linked-list">
        <string></string>
      </organizationNameList>
      <adminUserNameList class="linked-list">
        <string>sboeuf</string>
        <string>katacontainersbot</string>
        <string>sameo</string>
        <string>grahamwhaley</string>
        <string>chavafg</string>
        <string>jcvenegas</string>
        <string>jodh-intel</string>
        <string>GabyCT</string>
        <string>devimc</string>
        <string>amshinde</string>
      </adminUserNameList>
      <authenticatedUserReadPermission>true</authenticatedUserReadPermission>
      <useRepositoryPermissions>true</useRepositoryPermissions>
      <authenticatedUserCreateJobPermission>false</authenticatedUserCreateJobPermission>
      <allowGithubWebHookPermission>true</allowGithubWebHookPermission>
      <allowCcTrayPermission>false</allowCcTrayPermission>
      <allowAnonymousReadPermission>true</allowAnonymousReadPermission>
      <allowAnonymousJobStatusPermission>false</allowAnonymousJobStatusPermission>
    </rootACL>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>ce32399d14aa83aec212</clientID>
    <clientSecret>{AQAAABAAAAAw1p/bX+X/l2jVMaxAcG7cwfS/oKxlOsqS1npLbTaHixxQgcYU7oLZru1yn7+gFEtsuIfuK+dWDBWUP2TfOqvErg==}</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <com.microsoft.azure.vmagent.AzureVMCloud plugin="azure-vm-agents@0.7.0">
      <name>jenkins-azure-cloud</name>
      <cloudName>jenkins-azure-cloud</cloudName>
      <credentialsId>5561c860-9033-4fd0-9fc7-012d92d7af64</credentialsId>
      <maxVirtualMachinesLimit>20</maxVirtualMachinesLimit>
      <resourceGroupReferenceType>existing</resourceGroupReferenceType>
      <newResourceGroupName></newResourceGroupName>
      <existingResourceGroupName>kata-containers-jenkins</existingResourceGroupName>
      <vmTemplates>
        <com.microsoft.azure.vmagent.AzureVMAgentTemplate>
          <templateName>jenkins-azure-vm-ubuntu-16-04-template</templateName>
          <templateDesc>Ubuntu 16.04 Template for Jenkins VM agents on Azure</templateDesc>
          <labels>ubuntu_16_04_azure_cloud</labels>
          <location>West US 2</location>
          <virtualMachineSize>Standard_D4s_v3</virtualMachineSize>
          <storageAccountNameReferenceType>new</storageAccountNameReferenceType>
          <diskType>managed</diskType>
          <newStorageAccountName>katajenkins</newStorageAccountName>
          <existingStorageAccountName>katajenkins</existingStorageAccountName>
          <storageAccountType>Standard_LRS</storageAccountType>
          <noOfParallelJobs>1</noOfParallelJobs>
          <usageMode>EXCLUSIVE</usageMode>
          <shutdownOnIdle>false</shutdownOnIdle>
          <imageTopLevelType>advanced</imageTopLevelType>
          <imageReferenceType>reference</imageReferenceType>
          <builtInImage>Ubuntu 16.04 LTS</builtInImage>
          <isInstallGit>false</isInstallGit>
          <isInstallMaven>false</isInstallMaven>
          <isInstallDocker>false</isInstallDocker>
          <osType>Linux</osType>
          <imagePublisher>Canonical</imagePublisher>
          <imageOffer>UbuntuServer</imageOffer>
          <imageSku>16.04-LTS</imageSku>
          <imageVersion>latest</imageVersion>
          <agentLaunchMethod>SSH</agentLaunchMethod>
          <preInstallSsh>true</preInstallSsh>
          <initScript>set -x

# Stop unattended-upgrades service
sudo systemctl stop unattended-upgrades
sudo systemctl disable unattended-upgrades
sudo pkill -f dpkg
sudo pkill -f apt-get
sudo rm -f /var/lib/dpkg/lock
sudo rm -f /var/lib/apt/lists/lock
sudo rm -f /var/cache/apt/archives/lock

# Install Java JRE and JDK for Jenkins agent
sudo apt update -y
sudo apt install -y openjdk-8-jre openjdk-8-jre-headless openjdk-8-jdk

# Install git, make and gcc
sudo apt install -y git make gcc

# Install docker
sudo apt install -y apt-transport-https ca-certificates curl software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository &quot;deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable&quot;
sudo apt update -y
sudo apt install -y docker-ce
sudo gpasswd -a ${USER} docker
sudo chmod g+rw /var/run/docker.sock

# Install Go
curl -O https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf go1.9.2.linux-amd64.tar.gz</initScript>
          <credentialsId>de521202-ccf2-41c2-bc04-478bfa1675f6</credentialsId>
          <agentWorkspace>/home/jenkins/jenkins_slave</agentWorkspace>
          <retentionTimeInMin>0</retentionTimeInMin>
          <virtualNetworkName></virtualNetworkName>
          <virtualNetworkResourceGroupName></virtualNetworkResourceGroupName>
          <subnetName></subnetName>
          <usePrivateIP>false</usePrivateIP>
          <nsgName></nsgName>
          <jvmOptions></jvmOptions>
          <templateDisabled>false</templateDisabled>
          <templateStatusDetails></templateStatusDetails>
          <templateVerified>false</templateVerified>
          <executeInitScriptAsRoot>false</executeInitScriptAsRoot>
          <doNotUseMachineIfInitFails>true</doNotUseMachineIfInitFails>
          <retentionStrategy class="com.microsoft.azure.vmagent.AzureVMCloudOnceRetentionStrategy"/>
        </com.microsoft.azure.vmagent.AzureVMAgentTemplate>
        <com.microsoft.azure.vmagent.AzureVMAgentTemplate>
          <templateName>jenkins-azure-vm-ubuntu-17-10-template</templateName>
          <templateDesc>Ubuntu 17.10 Template for Jenkins VM agents on Azure</templateDesc>
          <labels>ubuntu_17_10_azure_cloud</labels>
          <location>West US 2</location>
          <virtualMachineSize>Standard_D4s_v3</virtualMachineSize>
          <storageAccountNameReferenceType>new</storageAccountNameReferenceType>
          <diskType>managed</diskType>
          <newStorageAccountName>katajenkins</newStorageAccountName>
          <existingStorageAccountName>katajenkins</existingStorageAccountName>
          <storageAccountType>Standard_LRS</storageAccountType>
          <noOfParallelJobs>1</noOfParallelJobs>
          <usageMode>EXCLUSIVE</usageMode>
          <shutdownOnIdle>false</shutdownOnIdle>
          <imageTopLevelType>advanced</imageTopLevelType>
          <imageReferenceType>reference</imageReferenceType>
          <builtInImage>Ubuntu 16.04 LTS</builtInImage>
          <isInstallGit>false</isInstallGit>
          <isInstallMaven>false</isInstallMaven>
          <isInstallDocker>false</isInstallDocker>
          <osType>Linux</osType>
          <imagePublisher>Canonical</imagePublisher>
          <imageOffer>UbuntuServer</imageOffer>
          <imageSku>17.10</imageSku>
          <imageVersion>latest</imageVersion>
          <agentLaunchMethod>SSH</agentLaunchMethod>
          <preInstallSsh>true</preInstallSsh>
          <initScript>set -x

# Stop unattended-upgrades service
sudo systemctl stop unattended-upgrades
sudo systemctl disable unattended-upgrades
sudo pkill -f dpkg
sudo pkill -f apt-get
sudo rm -f /var/lib/dpkg/lock
sudo rm -f /var/lib/apt/lists/lock
sudo rm -f /var/cache/apt/archives/lock

# Install Java JRE and JDK for Jenkins agent
sudo apt update -y
sudo apt install -y openjdk-8-jre openjdk-8-jre-headless openjdk-8-jdk

# Install git, make and gcc
sudo apt install -y git make gcc

# Install docker
sudo apt install -y apt-transport-https ca-certificates curl software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository &quot;deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable&quot;
sudo apt update -y
sudo apt install -y docker-ce
sudo gpasswd -a ${USER} docker
sudo chmod g+rw /var/run/docker.sock

# Install Go
curl -O https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf go1.9.2.linux-amd64.tar.gz

echo &quot;Environment Variables&quot;
env </initScript>
          <credentialsId>de521202-ccf2-41c2-bc04-478bfa1675f6</credentialsId>
          <agentWorkspace>/home/jenkins/jenkins_slave</agentWorkspace>
          <retentionTimeInMin>0</retentionTimeInMin>
          <virtualNetworkName></virtualNetworkName>
          <virtualNetworkResourceGroupName></virtualNetworkResourceGroupName>
          <subnetName></subnetName>
          <usePrivateIP>false</usePrivateIP>
          <nsgName></nsgName>
          <jvmOptions></jvmOptions>
          <templateDisabled>false</templateDisabled>
          <templateStatusDetails></templateStatusDetails>
          <templateVerified>false</templateVerified>
          <executeInitScriptAsRoot>false</executeInitScriptAsRoot>
          <doNotUseMachineIfInitFails>true</doNotUseMachineIfInitFails>
          <retentionStrategy class="com.microsoft.azure.vmagent.AzureVMCloudOnceRetentionStrategy"/>
        </com.microsoft.azure.vmagent.AzureVMAgentTemplate>
        <com.microsoft.azure.vmagent.AzureVMAgentTemplate>
          <templateName>jenkins-azure-vm-centos-7-4-template</templateName>
          <templateDesc>Centos 7.4 Template for Jenkins VM agents on Azure</templateDesc>
          <labels>centos_7_4_azure_cloud</labels>
          <location>West US 2</location>
          <virtualMachineSize>Standard_D4s_v3</virtualMachineSize>
          <storageAccountNameReferenceType>new</storageAccountNameReferenceType>
          <diskType>managed</diskType>
          <newStorageAccountName>katajenkins</newStorageAccountName>
          <existingStorageAccountName>katajenkins</existingStorageAccountName>
          <storageAccountType>Standard_LRS</storageAccountType>
          <noOfParallelJobs>1</noOfParallelJobs>
          <usageMode>EXCLUSIVE</usageMode>
          <shutdownOnIdle>false</shutdownOnIdle>
          <imageTopLevelType>advanced</imageTopLevelType>
          <imageReferenceType>reference</imageReferenceType>
          <builtInImage>Windows Server 2016</builtInImage>
          <isInstallGit>false</isInstallGit>
          <isInstallMaven>false</isInstallMaven>
          <isInstallDocker>false</isInstallDocker>
          <osType>Linux</osType>
          <imagePublisher>OpenLogic</imagePublisher>
          <imageOffer>CentOS</imageOffer>
          <imageSku>7.4</imageSku>
          <imageVersion>latest</imageVersion>
          <agentLaunchMethod>SSH</agentLaunchMethod>
          <preInstallSsh>true</preInstallSsh>
          <initScript># Allow jenkins user to run sudo

echo &apos;jenkins ALL=(ALL) NOPASSWD: ALL&apos;&gt;&gt; /etc/sudoers

# Install Java JRE and JDK for Jenkins agent
yum install -y java-1.8.0-openjdk java-1.8.0-openjdk-headless java-1.8.0-openjdk-devel

# Install git, gcc and python
yum install -y git gcc python

# Install docker
yum install -y yum-utils
repo_url=&quot;https://download.docker.com/linux/centos/docker-ce.repo&quot;
yum-config-manager --add-repo &quot;$repo_url&quot;
yum -y install docker-ce
yum -y update

systemctl start docker
gpasswd -a jenkins docker
chmod g+rw /var/run/docker.sock

# Install go
curl -O https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz
tar -C /usr/local -xzf go1.9.2.linux-amd64.tar.gz 

</initScript>
          <credentialsId>de521202-ccf2-41c2-bc04-478bfa1675f6</credentialsId>
          <agentWorkspace>/home/jenkins/jenkins_slave</agentWorkspace>
          <retentionTimeInMin>0</retentionTimeInMin>
          <virtualNetworkName></virtualNetworkName>
          <virtualNetworkResourceGroupName></virtualNetworkResourceGroupName>
          <subnetName></subnetName>
          <usePrivateIP>false</usePrivateIP>
          <nsgName></nsgName>
          <jvmOptions></jvmOptions>
          <templateDisabled>false</templateDisabled>
          <templateStatusDetails></templateStatusDetails>
          <templateVerified>false</templateVerified>
          <executeInitScriptAsRoot>true</executeInitScriptAsRoot>
          <doNotUseMachineIfInitFails>true</doNotUseMachineIfInitFails>
          <retentionStrategy class="com.microsoft.azure.vmagent.AzureVMCloudOnceRetentionStrategy"/>
        </com.microsoft.azure.vmagent.AzureVMAgentTemplate>
        <com.microsoft.azure.vmagent.AzureVMAgentTemplate>
          <templateName>jenkins-azure-vm-fedora-27-template</templateName>
          <templateDesc>Fedora 27 Template for Jenkins VM agents on Azure</templateDesc>
          <labels>fedora_27_azure_cloud</labels>
          <location>West US 2</location>
          <virtualMachineSize>Standard_D4s_v3</virtualMachineSize>
          <storageAccountNameReferenceType>new</storageAccountNameReferenceType>
          <diskType>managed</diskType>
          <newStorageAccountName>katajenkins</newStorageAccountName>
          <existingStorageAccountName>katajenkins</existingStorageAccountName>
          <storageAccountType>Standard_LRS</storageAccountType>
          <noOfParallelJobs>1</noOfParallelJobs>
          <usageMode>EXCLUSIVE</usageMode>
          <shutdownOnIdle>false</shutdownOnIdle>
          <imageTopLevelType>advanced</imageTopLevelType>
          <imageReferenceType>custom</imageReferenceType>
          <builtInImage>Windows Server 2016</builtInImage>
          <isInstallGit>false</isInstallGit>
          <isInstallMaven>false</isInstallMaven>
          <isInstallDocker>false</isInstallDocker>
          <image>https://katajenkins.blob.core.windows.net/fedora/Fedora-Cloud-Base-27-1.6.x86_64.vhd</image>
          <osType>Linux</osType>
          <agentLaunchMethod>SSH</agentLaunchMethod>
          <preInstallSsh>true</preInstallSsh>
          <initScript># Install Java JRE and JDK for Jenkins agent
sudo dnf install -y java-1.8.0-openjdk java-1.8.0-openjdk-headless java-1.8.0-openjdk-devel

# Install git, gcc and python
sudo dnf install -y git gcc python

# Install docker
sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf config-manager --set-enabled docker-ce-stable
sudo dnf makecache
sudo dnf install -y docker-ce

sudo systemctl start docker
sudo gpasswd -a ${USER} docker
sudo chmod g+rw /var/run/docker.sock

# Install go
curl -O https://storage.googleapis.com/golang/go1.9.2.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf go1.9.2.linux-amd64.tar.gz</initScript>
          <credentialsId>de521202-ccf2-41c2-bc04-478bfa1675f6</credentialsId>
          <agentWorkspace>/home/jenkins/jenkins_slave</agentWorkspace>
          <retentionTimeInMin>0</retentionTimeInMin>
          <virtualNetworkName></virtualNetworkName>
          <virtualNetworkResourceGroupName></virtualNetworkResourceGroupName>
          <subnetName></subnetName>
          <usePrivateIP>false</usePrivateIP>
          <nsgName></nsgName>
          <jvmOptions></jvmOptions>
          <templateDisabled>false</templateDisabled>
          <templateStatusDetails></templateStatusDetails>
          <templateVerified>false</templateVerified>
          <executeInitScriptAsRoot>false</executeInitScriptAsRoot>
          <doNotUseMachineIfInitFails>true</doNotUseMachineIfInitFails>
          <retentionStrategy class="com.microsoft.azure.vmagent.AzureVMCloudOnceRetentionStrategy"/>
        </com.microsoft.azure.vmagent.AzureVMAgentTemplate>
      </vmTemplates>
      <deploymentTimeout>1200</deploymentTimeout>
      <approximateVirtualMachineCount>0</approximateVirtualMachineCount>
    </com.microsoft.azure.vmagent.AzureVMCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ubuntu_16.04</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>kata-containers-agent-ubuntu-16-04-master</string>
        <string>kata-containers-agent-ubuntu-16-04-PR</string>
        <string>kata-containers-initrd-ubuntu-16-04-master</string>
        <string>kata-containers-proxy-ubuntu-16-04-master</string>
        <string>kata-containers-proxy-ubuntu-16-04-PR</string>
        <string>kata-containers-runtime-ubuntu-16-04-master</string>
        <string>kata-containers-runtime-ubuntu-16-04-PR</string>
        <string>kata-containers-shim-ubuntu-16-04-master</string>
        <string>kata-containers-shim-ubuntu-16-04-PR</string>
        <string>kata-containers-tests-ubuntu-16-04-master</string>
        <string>kata-containers-tests-ubuntu-16-04-PR</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>ubuntu_17.10</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>kata-containers-agent-ubuntu-17-10-master</string>
        <string>kata-containers-agent-ubuntu-17-10-PR</string>
        <string>kata-containers-proxy-ubuntu-17-10-master</string>
        <string>kata-containers-proxy-ubuntu-17-10-PR</string>
        <string>kata-containers-runtime-ubuntu-17-10-master</string>
        <string>kata-containers-runtime-ubuntu-17-10-PR</string>
        <string>kata-containers-shim-ubuntu-17-10-master</string>
        <string>kata-containers-shim-ubuntu-17-10-PR</string>
        <string>kata-containers-tests-ubuntu-17-10-master</string>
        <string>kata-containers-tests-ubuntu-17-10-PR</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>centos_7.4</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>kata-containers-agent-centos-7-4-master</string>
        <string>kata-containers-agent-centos-7-4-PR</string>
        <string>kata-containers-proxy-centos-7-4-master</string>
        <string>kata-containers-proxy-centos-7-4-PR</string>
        <string>kata-containers-runtime-centos-7-4-master</string>
        <string>kata-containers-runtime-centos-7-4-PR</string>
        <string>kata-containers-shim-centos-7-4-master</string>
        <string>kata-containers-shim-centos-7-4-PR</string>
        <string>kata-containers-tests-centos-7-4-master</string>
        <string>kata-containers-tests-centos-7-4-PR</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Pull_Requests</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*-PR</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Merges_to_Master</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>kata-containers-runtime-ubuntu-16-04-master</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*-master</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>